<?xml version='1.0' encoding='utf-8'?>
<widget id="co.com.portoalto" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PortoAlto</name>
    <description>
        Porto AltoApp
    </description>
    <author email="info@monkeysoft.com.co" href="http://cordova.io">
        MonkeySoft Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <!--<icon src="res/icon.png" />-->

    <platform name="android">
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
     </platform>
    <platform name="android">
        <splash density="land-hdpi" src="res/splash.jpg" />
        <splash density="land-ldpi" src="res/splash.jpg" />
        <splash density="land-mdpi" src="res/splash.jpg" />
        <splash density="land-xhdpi" src="res/splash.jpg" />
        <splash density="port-hdpi" src="res/splash.jpg" />
        <splash density="port-ldpi" src="res/splash.jpg" />
        <splash density="port-mdpi" src="res/splash.jpg" />
        <splash density="port-xhdpi" src="res/splash.jpg" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.0.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.0.0" />
</widget>
